ZF_URL=http://jwxt.cumt.edu.cn/jwglxt/
ZF_CAPTCHA_PASSWORD_MODE=plain
ZF_CAPTCHA_MAX_ATTEMPTS=5
EC_VNC_PASSWORD=zfcheck
PUSH_PROVIDER=showdoc
CHECK_INTERVAL_SECONDS=1800
HEARTBEAT_INTERVAL_SECONDS=300
CHECK_JITTER_SECONDS=120
FAILURE_ALERT_COOLDOWN_SECONDS=21600
REQUEST_TIMEOUT_SECONDS=20
